@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
@font-face {
    font-family: "adbu";
    src: url("fonts/Astral Delight Black Upright.ttf");
}
@font-face {
    font-family: "ttt";
    src: url("fonts/ttt.woff");
}

body{
    margin: 0;
    padding: 0;
    background-color: #17a8be;
    font-family: poppins;
}

h2 {
    font-weight: 900;
    font-size: 1.4rem;
    color: #FED766;
    letter-spacing: 1px;
    text-align: center;
    align-items: center;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#container-board{
    margin: 0 auto;
    width: 480px;
    height: 480px;
    background: #fff;
    -webkit-border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	border-radius:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #00879c, -14px -14px 20px #2AB7CA;
}

.inputs {
    text-align: left;
    margin-top: 30px;
  
}
#firstpage{
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #00879c, -14px -14px 20px #2AB7CA;
}

#board{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.gray{
    background-color: #e1e1e1;
}

.cell {
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "ttt";
    font-size: 70px;
    color: #292828;
}

label, input, button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    align-items: center;
    box-sizing: border-box;
}
label {
    margin-bottom: 4px;
}

label:nth-of-type(2) {
    margin-top: 12px;
}

input::placeholder {
color: gray;
}

input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
    margin-top: 20px;
    background: #FED766;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
}

button:hover {
    box-shadow: none;
}
.brand-logo {
    height: 100px;
    width: 100px;
    background: url("img/icon.png") no-repeat center;
    background-size: 75px 75px;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    text-align: center;
}
  
.brand-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #FED766;
    letter-spacing: 1px;
    text-align: center;
    align-items: center;
}

.anim{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("img/waiting.gif") no-repeat center;
    background-size: 300px 300px;
    text-align: center;
}
.brand-waiting {
    margin-top: -30px;
    font-weight: 900;
    font-size: 1.4rem;
    color: #FED766;
    letter-spacing: 1px;
    text-align: center;
    align-items: center;
}
#overlay1{
    display: none;/*block*/
    position: fixed;
    width: 480px;
    height: 480px;
    overflow:visible;
    pointer-events:none;
    background:none;

    border-radius:25px;
    z-index: 3;
    
}
#overlay2{
    display: none;/*block*/
    position: fixed;

    width: 480px;
    height: 480px;
    border-radius:25px;
    background-color: #ecf0f3e0;
    z-index: 2;

}
#overlay2 button{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}
#overlay2 #text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 200px;

    font-weight: 900;
    font-size: 2.5rem;
    color: #FED766;
    letter-spacing: 1px;
}